name: Delete releases and workflows runs

on:
  workflow_dispatch:
  schedule:
    - cron: 0 16 */3 * *

jobs:
  Cleaning:
    runs-on: ubuntu-latest

    steps:
    - name: Delete releases and workflows runs
      uses: ophub/delete-releases-workflows@main
      with:
        delete_releases: true
        releases_keep_latest: 3
        delete_workflows: true
        workflows_keep_day: 1
        gh_token: ${{ secrets.GITHUB_TOKEN }}